### Chained Comparison Operators

In [4]:
1 < 2 < 3

# Break down
# Is 1 < 2 -> True
# And is 2 < 3 -> True
# True and True -> True

True

In [5]:
1 < 2 and 2 < 3

# Break down
# 1 < 2 -> True
# 2 < 3-> True 
# True and True -> True

True

In [6]:
# And is to make sure that the two condition has to be true for it to return to a true statement.

In [9]:
2 > 3 and 2 > 1

# Breaking this down would be
# 2 > 3 -> False
# 2 > 1 -> True
# False and True -> False

False

In [11]:
2 > 3 or 2 > 1

# Breaking this down would be
# 2 > 3 -> False
# 2 > 1 -> True
# False or True -> True

True

In [12]:
1 == 2 or 2 < 3

# Breaking this down would be
# 1 = 2 -> False
# 2 < 3 -> True
# False or True -> False

True

In [13]:
1 == 1 or 100 == 1

True

In [15]:
# Write a code to check if a user is qualified to get admitted into a university

user_age = 20

# Check if the user_age is less than 16

user_age < 16

False

In [23]:
user_age = int(input("Enter your age"))
print(f"Your age is {user_age}")

Enter your age 12

Your age is 12

In [24]:
type(user_age)

int

In [26]:
user_age = int(input("Enter your age"))
print(f"Your age is {user_age}")

if user_age < 16:
    print(f"Sorry you can't be admitted because you are {user_age} and it's less than 16")

else:
    print("Congrats! you can be admitted into our university")

Enter your age 22

Your age is 22
Congrats! you can be admitted into our university

## Practice

In [31]:
2 != 1 and 4 > 10
# Break down
# 2 is not equals to 1 -> True
# 4 is greater than 10 -> False
# True and False -> False

False

In [32]:
195 <= 250 or 10 * 10 == 100
# Break down
# 195 is less than and not equals to 250 -> True
# 10 multiplied by 10 equals 100 -> True
# True or False -> False

True

In [44]:
# Write a code to check if an individual working as a civil servant is on level 12

individual_level = 8

# check if individual_level is greater than or equals to Level 12

individual_level >=  12

False

In [50]:
individual_level = int(input("Enter your level"))
print(f"Your level is {individual_level}")

Enter your level 8

Your level is 8

In [49]:
individual_level=int(input("Enter your level"))
print(f"Your level is {individual_level}")

if individual_level < 12:
    print(f"Sorry! You are not eligible for the next Conversion Examination because you are on {individual_level} and it's less than and not equals to 12")

else:
    print(f"Congrats! You are eligible for the next Conversion Examination")

Enter your level 8

Your level is 8
Sorry! You are not eligible for the next Conversion Examination because you are on 8 and it's less than and not equals to 12