### Using .format method

In [1]:
print("This is a string with an {}" .format("insert"))

This is a string with an insert

In [2]:
print("First object {a} , Second object: {b} , Third object: {c}".format(a=1, b="Two", c=12.3))

First object 1 , Second object: Two , Third object: 12.3

### Using formatted string literals (f-strings)

In [4]:
name = "Rachael"
print(f"She said her name is {name}.")

She said her name is Rachael.

In [5]:
age=30
cgpa=5.0

In [6]:
age

30

In [7]:
cgpa

5.0

In [9]:
print(f"{name} is {age} years , and she had cgpa of {cgpa} in her 100L first semester.")

Rachael is 30 years , and she had cgpa of 5.0 in her 100L first semester.

##### Using Concatenation Method

In [17]:
print(name + " is " + str (age)  +  " years and she has a cgpa of " + str (cgpa) + " in her 100L first semester.")

Rachael is 30 years and she has a cgpa of 5.0 in her 100L first semester.