___

<a href='https://www.youtube.com/@TechWithDaveworld'><img src='../TechWithDaveworldLOGO.png'/></a>
___
<center><em>Content Copyright by Tech With Daveworld</em></center>

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these.

Double Click HERE to edit this markdown cell and write answers.

Numbers: 
There are majorly two types of numbers. They are whole numbers 1, 10, 100 known as "integers" and decimal numbers 100.25 known as "floating point numbers"

Strings:
They are sequence of characters,using either a single quote or double quotes. Indexing and slicing are the major methods to grab sub-sections of the string.

Lists:
They are ordered sequences that can hold a variety of object. List makes use of [] brackets and commas to seperate objects in the list.

Tuples:
They are ordered immutable sequence of objects 

Dictionaries:
They are unordered mappings for storing objects. Dictionaries make use of curly brackets {} and colon : to identify the keys and their values.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [39]:
# 5**3*2+3/4-0.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [6]:
# a = 44
# b = 29
# c = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [7]:
s = 8.5
type(s)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [37]:
# Square root:
# **

In [ ]:
# Square:
# **

In [34]:
4**4

256

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing

In [28]:
s[1]

'e'

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing

In [27]:
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'
# Print out the 'o'

# Method 1:

In [25]:
s[4]

'o'

In [26]:
# Method 2:
s[-1]

'o'

Write a python code that grabs domain out of the email address:

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [22]:
email = "test@email.com"

In [23]:
# Write your answer here
email.pop[0]

AttributeError: 'str' object has no attribute 'pop'

## Lists

Build this list [0,0,0] two separate ways.

In [117]:
# Method 1:
list = [0, 0, 0]

In [118]:
print(list)

[0, 0, 0]

In [121]:
# Method 2:
l = [0]*3

In [122]:
l

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [3]:
list3 = [1,2,[3,4,'hello']]

In [14]:
list3 = [1,2,[3,4,'hello']]
list1 = list3 [2]
list1[list1.index('hello')] = 'goodbye'

In [15]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [43]:
list4 = [5,3,4,6,1]

list4.sort()

In [44]:
list4

[1, 3, 4, 5, 6]

Given this nested list, use indexing to grab the word "hello"

In [55]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [56]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [70]:
print(lst[3] [1] [2] [0] )

hello

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [71]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [75]:
d['simple_key']

'hello'

In [77]:
d['simple_key'] [:]

'hello'

In [78]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [82]:
d['k1']['k2']

'hello'

In [83]:
d['k1']['k2'] [:]

'hello'

In [98]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [92]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>

It is impossible to sort a dictionary because it is not a list.

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are ordered immutable sequence of objects i.e they can't be modified while List are ordered sequence of objects thst can be modified/changed'

How do you create a tuple?<br><br>

Tuple is created by using a curved bracket () with coommas to seperate the elements.

## Sets

What is unique about a set?<br><br>

Same value cannot be reassigned in a set.

Use a set to find the unique values of the list below:

In [16]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [17]:
print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [2]:
# Answer before running cell
2 > 3

False

In [3]:
# Answer before running cell
3 <= 2

False

In [4]:
# Answer before running cell
3 == 2.0

False

In [5]:
# Answer before running cell
3.0 == 3

True

In [6]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [8]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!